html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body::after {
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('https://i.pinimg.com/originals/79/d8/1b/79d81b882be5561eabf1be2c4a9c5a02.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.center_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.box {
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    width: 200px;
    height: 50px;
    margin: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    transition: background 1.0s ease-in-out;
}

.box:hover {
    background-color: gray;
}

.intro {
    position: relative;
    font-size: 40px;
    color: rgb(46, 46, 46);
}

.container_star {
    position: absolute;
    right: -50px;
    top: -50px;
    animation: 2.0s turnStar infinite ease-in-out;
}

@keyframes turnStar {
    0% {
        transform: none;
    }

    50% {
        transform: rotate(1turn) scale(.5, .5);
    }

    100% {
        transform: none;
    }
}

.star {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid black;
    position: relative;
}

.star:after {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid black;
    position: absolute;
    content: "";
    top: 15px;
    left: -25px;

}